.content-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.mobile-nav {
    display: none;
}
.left-side-container-black {
    width: 16.7%;
    height: 1150px;
    background-color: #222222;
}
.white-content-container {
    width: 83%;
    margin: 0 auto;
}
.nav-headline, .non-bold {
    font-size: 24px;
    color: white;
}
.nav-headline {
    font-weight: bold;
}
.non-bold {
    font-weight: normal;
}
.h1-and-burger {
    margin: 42px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-burger-icon {
    width: 26px;
    height: 11px;
}
.left-side-nav {
    margin: 70px 20px;
    width: 80%;
    color: white;
}
.flex-nav li {
    width: 100%;
    font-family: 'Roboto Slab';
    font-weight: medium;
}
.nav-icon {
    margin: auto 30px;
}
.flex-nav:first-child {
    height: 60px;
    border-radius: 10px;
}
ul a{
    color: white;
    text-decoration: none;
}
.flex-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    height: 50px;
}
.nav-icon {
    width: 24px;
    height: 24px;
}
.left-side-footer-container {
    margin: 0 auto;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 30%;
    margin-bottom: 60px;
}
.left-side-footer-container a {
    color: white;
}
.footer-note {
    margin: 0 30px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 31px;
    color: white;
}
.picture-and-text-container-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.picture-and-text-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person-name {
    width: 170px;
}
.load {
    margin: 50px 30px;
    color: white;
}
header {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #F8F8F8;
}
.search-input {
    width: 346px;
    height: 56px;
    position: relative;
    margin: 0 25px;
}
#search-bar {
    width: 100%;
    height: 100%;
    color: gray;
    font-size: 14px;
    background-color: #F8F8F8;
    border-radius: 10px;
    border: none;
}
#search-icon {
    position: absolute;
    top: 20px;
    width: 24px;
    height: 24px;
    left: 85%
}
.header-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.header-right-container p {
    color: #FF2288;
    font-size: 14px;
}
.header-right-container button {
    width: 129px;
    height: 56px;
    background-color: #FF2288;
    color: white;
    border-radius: 10px;
    border: none;
}
.notification-icon-div {
    position: relative;
}
.notification-icon {
    width: 10px;
    height: 10px;
    background-color: #FF2288;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0;
    left: 70%;
}
.section-1 {
    padding-top: 41px;
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-1-ul li:first-child {
    background-color: #F8F8F8;
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    width: 56px;
    height: 56px;
}
.section-1-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-1-nav-div {
    width: 100%;
}
.filters-container-box {
    width: 132px;
    height: 56px;
    border-radius: 10px;
    border: 5px solid #F8F8F8;
}
#filters-icon {
    width: 24px;
    height: 24px;
}
.filters-container {
    width: 81px;
    height: 24px;
}
.filters-text {
    width: 92px;
}
.filters-display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;
    margin: 13px 24px;
}
.section-2 {
    display: grid;
    grid-template-columns: repeat(4, 289px);
    grid-template-rows: repeat(2, 278px);
    grid-gap: 28px;
    width: 80%;
    margin: 40px auto;
}
.section-2 div {
    width: 100%;
    height: 100%;
    position: relative;

}
.card-img img {
    width: 100%;
}
.card-img p {
    text-align: center;
    font-size: 18px;
}
#load-more {
    width: 289px;
    height: 56px;
    background-color: #F8F8F8;
    margin: 70px 170%;
    border-radius: 10px;
    border: none;
}
.section-3 {
    margin: 70px auto;
    width: 100%;
    height: 500px;
    padding-left: 102px;
    background-color: #FAFAFA;
}
#section-3-top {
    height: 110px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#view-all a {
    font-size: 14px;
    color: gray;
}
h3 {
    font-size: 32px;
    padding-top: 27px;
    margin-bottom: 54px;
}
.top-designers-container div {
    margin-top: 54px;
    width: 85%;
}
.individual-designers p {
    color: black;
    width: 100%;
    text-align: center;
    line-height: 0;
}
.gray-txt {
    font-size: 12px;
    color: gray;
}
.individual-designers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 120px;
    height: 340px;
}
.individual-designers button {
    height: 44px;
    border-radius: 10px;
    border: none;
    background-color: #F2F2F2
}
.section-3-contact-pics {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#following {
    background-color: rgb(214, 206, 206);
}
footer {
    width: 1230px;
    height: 398px;
    margin-bottom: 115px;
}
#footer-headers {
    display: flex;
    justify-content: space-between;
    width: 101%;
}
#footer-uls {
    display: flex;
    justify-content: space-between;
}
.footer-ul-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 165px;
    height: 301px;
    margin-top: 36px;
}
.footer-ul-flex-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 101px;
    margin-top: 36px;
}
#brands, #design-assets {
    margin-top: 41px;
}
#Avertise-with-us, #shop-creative-market {
    margin-top: 36px;
}
.footer-ul-flex-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 341px;
    margin-top: 36px;
}
.footer-ul-flex-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 181px;
    margin-top: 36px;
}
#footer-headers p {
    width: 19%;
    text-align: center;
}
#footer-headers p:first-child {
    text-align: left;
}
#footer-social-media {
    margin-bottom: 40px;
    align-items: center;
    width: 112px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.flex-nav:hover {
    background-color: #FF2288;
}
.footer-ul-flex a, .footer-ul-flex-2 a, .footer-ul-flex-3 a, .footer-ul-flex-4 a {
    color: black;
}
.footer-ul-flex a:hover, .footer-ul-flex-2 a:hover, #brands:hover, #Avertise-with-us:hover, .footer-ul-flex-3 a:hover, .footer-ul-flex-4 a:hover, #design-assets:hover, #shop-creative-market:hover {
    text-decoration: underline;
}
#footer-social-media-phone {
    margin: 0 auto;
    height: 15%;
    width: 50%;
    display: none;
}
#footer-and-social-media-phone {
    display: none;
    margin-left: -42px;
    margin-top: 309%;
    width: 121%;
    height: 5%;
    background-color: #222222;
}
@media (max-width: 480px) {
    .content-container {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
    }
    .left-side-container-black {
        display: none;
    }
    .mobile-nav {
        margin-left: -42px;
        display: block;
        width: 121%;
        height: 2%;
        background-color: #222222;;
        display: flex;
        align-items: center;
    }
    header {
        margin: 0 auto;
        margin-left: -26px;
        width: 105%;
    }
    .header-right-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .filters-container-box {
        margin-right: -15%;
    }
    .section-2 {
        display: flex;
        flex-wrap: wrap;
    }
    .section-3 {
        margin: -140px auto;
        align-items: center;
    }
    .section-3-contact-pics {
        margin: 0 auto;
        margin-left: -16%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 1500px;
    }
    #desktop, #footer-social-media,  .search-input, .section-1 li {
        display: none;
    }
    #footer-and-social-media-phone {
       display: block;
    }
    #footer-headers-mobile {
        width: 75%;
        color: white;
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 65%;
    }
    #footer-headers-mobile p {
        margin: 0 10px;
        text-align: center;
    }
    #insta-logo {
        width: 34px;
        height: 34px;
    }
    #footer-social-media-phone {
      display: block;
      display: flex;
      justify-content: space-between;
    }
}
.notification-icon {
   animation: dim 3s infinite ease-in;
}
.section-1-ul li:hover {
    background-color: #F2F2F2;
}
@keyframes dim {
    0% {
        background-color: #FF2288;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: #FF2288;
    }
}